.row__wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.top__row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.row > div {
    align-self: center;
    display: flex;
    margin: auto;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.title > p{
    margin: 0;
    font-size: 14px;
}
.image > img{
    display: block;
    width: 100%;
}
.amount{
    display: flex;
    align-items: center;
    gap: 10px;
}
.minus, .plus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.minus > img, .plus > img{
    width: 16px;
    cursor: pointer;
}
.amount__in{
    padding: 5px 25px;
    border-radius: 15px;
    background-color: #e3bff1;
}
.amount__in > p{
    margin: 0;
}
.prices{
    display: flex;
    flex-direction: column;
}
.plice__in{
    position: relative;
}
.line{
    width: 90%;
    height: 1.5px;
    background-color: #00000033;
    position: absolute;
    left: 0;
    top: 50%;
}
.plice__in > p{
    margin: 0;
    text-decoration: line-through;
    color: #00000033;
}
.dop__desc > p{
    font-size: 14px;
}
.price__skid{
    margin: 0;
    color: var(--purple-color);
    font-size: 18px;
    font-weight: 600;
}
.delete{
    align-items: center;
}
.delete > img{
    width: 14px;
    cursor: pointer;
    align-self: center;
    display: flex;
}
.main__line{
    width: 90%;
    display: block;
    height: .5px;
    background-color: #e3bff1;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .image{
        justify-content: flex-start;
        width: 50px;
    }
    .title > p{
        font-size: 12px;
    }
    .amount__in{
        padding: 5px 8px;
        font-size: 12px;
    }
    .dop__desc > p{
        font-size: 12px;
        margin: 0;
    }
    .amount{
        gap: 5px;
    }
    .top__row{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .minus > img, .plus > img{
        width: 14px;
    }
    .plice__in > p{
        font-size: 12px;
    }
    .price__skid{
        font-size: 14px;
    }
}