.wrap{
    width: 100%;
    min-height: 100vh;
}

.title{
    margin: 10vh 0 0;
    padding-left: 10px;
}

.product__in{
    margin-top: 15px;
}

.nav__container{

}

.main__container{
    width: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 4fr;
}

.filter__container{
    padding: 20px;
}

.cards__container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}