.wrap{
    width: 82%;
    min-height: 100vh;
}
.title{
    margin: 10vh 0 0;
    padding-left: 10px;
}
.product__in{
    margin-top: 15px;
}
.nav__container{
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    gap: 10px;
}
.nav__container > *{
    display: flex;
    align-self: center;
    color: black !important;
}

.main__container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter__container{
    width: calc(26% - 15px);
    height: max-content;
    background-color: #E7C3F5;
    border-radius: 10px;
}

.filter__container__dop{
    height: max-content;
    background-color: #E7C3F5;
    border-radius: 5px;
    margin-top: 15px;
}

.filter__container__in{
    width: 90%;
    max-width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter__container__in > p{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.input__line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.input__line__in{
    display: flex;
    align-items: center;
    width: 70%;
}
.span__sign{
    margin-right: 5px;
}
.filter__input{
    padding: 3px;
}
.nav__container__in{
    display: flex;
    align-items: center;
    gap: 5px;
}

.connector{
    width: 50%;
    align-self: center;
    height: 2px;
    background: white;
}
.apply{
    width: max-content;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 3px;
    box-sizing: border-box;
    background: #9134B3;
}
.filter__input{
    border: none;
    border-radius: 5px;
    overflow: hidden;
}
.cards__container{
    width: calc(74% - 5px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.mobile__filter{
    display: none;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #E7C3F5;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
}
.mobile__filter > p{
    margin: 0;
}
.last__part__nav{
    display: flex;
    align-items: center;
    gap: 5px;
}
.last__part__nav > span{
    margin: 0;
    font-size: 16px;
}
.product__wr{
    min-width: 180px;
    max-width: 180px;
}

@media (max-width: 600px){
    .product__wr{
        min-width: auto;
    }
    .wrap{
        width: 90%;
    }    
    .title{
        margin-top: 35px;
    }
    .last__part__nav > span{
        margin: 0;
        font-size: 14px;
    }
    .mobile__filter{
        display: block;
    }
    .filter__container{
        display: none;
    }
    .cards__container{
        width: 100%;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 2%;
    }
    .main__container{
        margin-top: 20px;
    }
    .nav__container{
        margin-top: 15px;
        gap: 5px;
    }
    .nav__container__in{
        padding-top: .5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .span__link{
        font-size: 14px;
    } 
    .nav__container > span{
        font-size: 14px;
    }
    .filter__container__in{
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .filter__container__in > p{
        font-size: 14px;
    }
    .nav__container > *{
        display: flex;
        align-self: flex-start;
        color: black !important;
    }
}