.wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    height: max-content;
    width: 100%;
    background-color: #e7c3f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.close__option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cloce{
    width: 14px;
}
.logo{
    width: 50%;
    max-width: 150px;
}
.in{
    padding: 20px 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.line{
    width: 100%;
    margin: auto;
    height: 0.3vh;
    background-color: #9134b3;
}
.option{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.option__in{
    height: max-content;
    display: flex;
    align-items: center;
    gap: 20px;
}
.option__in p{
    margin: 0;
}
.option__in__phone{
    display: flex;
    align-items: center;
}
.option__in__catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, #1c9e73, #6ec6c1);
}
.option__in__catalog > img{
    width: 20px;
}
.option__in > img{
    width: 25px;
}
.link > p{
    margin: 0;
    color: #000000;
}
.phone__wrap{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}
.option__hidden{
    display: none;
}
.arrow{
    width: 16px;
    transition: all .3s;
    transform: rotate(180deg);
}
.arrow__change{
    transform: rotate(360deg);
}
.phone__wrap > p{
    margin: 0;
}
.phone__wrap > a{
    color: #000000;
    text-decoration: none;
}