.wrap {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9134b3;
    position: relative;
    z-index: 998;
}
.inner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 10px 0;
}
.button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: linear-gradient(90deg, #1c9e73, #6ec6c1);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
.button > img{
    width: 22px;
}
.catalog__title{
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}
.input__wrap{
    width: 65%;
    max-width: 65%;
}
.input{
    width: 100%;
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.icon{
    cursor: pointer;
}
.icon__image{
    width: 25px;
}
.input:focus {
    outline: none;
}

@media (max-width: 600px){
    .catalog__title{
        display: none;
    }
    .button{
        display: none;
    }
    .options{
        display: none;
    }
    .input__wrap{
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
    .inner{
        width: 90%;
    }
}
.dropdown__wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: #00000077;
    display: flex;
    justify-content: center;
}
.dropdown__wrap__content{
    width: 80%;
}
.dropdown{
    width: max-content;
    height: max-content;
    position: relative;
    top: 80px;
    left: 0;
    background: white;
    border-radius: 10px;
    padding: 15px 25px;
}
