.wrap {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9134b3;
    position: relative;
    z-index: 998;
}
.inner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 10px 0;
}
.button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: linear-gradient(90deg, #1c9e73, #6ec6c1);
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.button > img{
    width: 22px;
}
.catalog__title{
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}
.input__wrap{
    width: 65%;
    max-width: 65%;
    position: relative;
}
.input__look__for{
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 5px .5px #00000011;
    background-color: #ffffff;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 300px;
    padding: 25px 0px 15px 0;
}
.input__look__for__in{
    box-sizing: border-box;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    margin: auto;
}
.input__btn{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.btn{
    max-width: 50%;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    max-width: 60%;
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background-color: #6ec6c1;
}
.product__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.product__input__in{
    display: flex;
    align-items: center;
    gap: 20px;
}
.link > img{
    width: 30px;
}
.link > p{
    cursor: pointer;
    color: #000000;
    margin: 0;
}
.product__input > p{
    margin: 0;
}
.input{
    width: 100%;
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.icon{
    cursor: pointer;
}
.icon__image{
    width: 25px;
}
.input:focus {
    outline: none;
}

@media (max-width: 600px){
    .catalog__title{
        display: none;
    }
    .button{
        display: none;
    }
    .options{
        display: none;
    }
    .input__wrap{
        margin: auto;
        width: 100%;
        max-width: 100%;
    }
    .inner{
        width: 90%;
    }
}
.dropdown__wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
    background-color: #00000077;
    display: flex;
    justify-content: center;
}
.dropdown__wrap__content{
    width: 80%;
}
.dropdown{
    width: max-content;
    height: max-content;
    position: relative;
    top: 80px;
    left: 0;
    background: white;
    border-radius: 10px;
    padding: 15px 25px;
}
