.slide{
    padding: 10px 0;
    border-radius: 10px;
}
.slide__in__wrap{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.slide__btn{
    min-width: 25%;
}
.btn{
    width: 100%;
    color: #000000;
    display: block;
    margin: 0 0 30px 0;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    border: none;
    background-color: #ffffff;
}
.slide__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ffffff;
}
.title{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.sub__title{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}
.sub__title__inner{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.title__dop{
    font-size: 26px;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.line{
    width: 45px;
    height: 8px;
    background-color: #ffffff;
}
.title__price{
    font-size: 100px;
    margin: 0;
}
.dot{
    width: 20px;
    height: 12px;
    border-radius: 20px;
    background-color: #9f69b2;
    cursor: pointer;
}
.dots{
    position: absolute;
    transform: translateY(-50%);
    right: 3%;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dot__active{
    background-color: var(--purple-color);
}