.wrap{
    width: 80%;
}

.category__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 15px;
    margin-top: 10vh;
}

.category{
    padding: 15px 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 15px;
}

.show__more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    min-width: 70%;
    margin: auto;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
    background-color: #e7c3f5;
    cursor: pointer;
    font-size: 16px;
}

.category__link:hover {
    box-shadow: 0 0 10px .5px #00000011;
}


.category > img{
    width: 60px;
    height: 60px;
}

.category > h5 {
    margin: 0;
    color: black;
}

.title{
    margin: 10vh 0 0 0;
    padding-left: 10px;
}

.product__in{
    margin-top: 15px;
}

.slide__wrap{
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10vh;
}

@media (max-width: 600px){
    .wrap{
        width: 90%;
    }
    .category__container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 7vh;
        gap: 10px;
    }
    .category{
        background: none;
        padding: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: row;
    }
    .title{
        margin: 7vh 0 0 0;
    }
    .slide__wrap{
        margin-top: 7vh;
    }
}