.wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrap > h2{
    margin: 0;
    padding: 0 15px;
}

.card{
    box-shadow: 0 0 2px 2px #00000011;
    padding: 10px;
    border-radius: 5px;
}
.history__orders{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
}
.ord__image{
    width: 50px;
}
.orders__products{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
@media (max-width: 600px){
    .wrap > h2{
        display: none;
    }
}