.wrap{
    min-height: 100vh;
}
.inner{
    display: grid;
    grid-template-columns: 0px 1fr;
    height: 100%;
}
.inner.active__navigation{
    grid-template-columns: 250px 1fr;
}
.navigation{
    position: relative;
    background-color: var(--mint-color);
}
.wrap__auth{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}