.in{
    border-radius: 10px;
    box-shadow: 0 0 10px .5px #00000011;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.in__dop{
    padding: 10px 0;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section__dop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin: 0;
    font-size: 12px;
}
.review__link{
    margin: 0;
    font-size: 10px;
    color: #28ac81;
    display: block;
    border-bottom: dotted 2px #28ac81;
    cursor: pointer;
    white-space: nowrap;
}
.stars{
    display: flex;
    align-items: center;
    gap: 3px;
}
.stars > img{
    width: 9px;
    height: 9px;
}
.title__link > h4{
    color: #000000;
    height: 28px;
    overflow: hidden;
}
.section__img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.main__image{
    width: 90px;
    height: 90px;
}
.price{
    font-size: 12px;
    color: #a7a7a7;
    margin: 0;
}
.price__dop{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--purple-color);
}
.buy{
    padding: 3px 20px;
    background-color: #C269E8;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 12px;
}
.add__to{
    display: flex;
    align-items: center;
    justify-content: end;
}
.heart__img{
    width: 19px;
    height: 16px;
    cursor: pointer;
}
.not__price{
    position: relative;
}
.line{
    width: 80%;
    height: .8px;
    background-color: #a7a7a7;
    position: absolute;
    top: 50%;
    left: 0;
}