.in{
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px .5px #00000011;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.in__dop{
    padding: 10px 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section__dop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    margin: 0;
    font-size: 12px;
}
.review__link{
    margin: 0;
    font-size: 10px;
    color: #28ac81;
    display: block;
    border-bottom: dotted 2px #28ac81;
    cursor: pointer;
    white-space: nowrap;
}
.stars{
    display: flex;
    align-items: center;
    gap: 3px;
}
.stars > img{
    width: 9px;
    height: 9px;
}
.title__link > h4{
    color: #000000;
    max-height: 26px;
    overflow: hidden;
}
.section__img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.img__link{
    height: 100px;
}
.main__image{
    display: block;
    height: 100%;
    width: 100%;
}
.price{
    font-size: 12px;
    color: #a7a7a7;
    margin: 0;
}
.price__dop{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--purple-color);
}
.buy{
    padding: 3px 20px;
    background-color: #C269E8;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 12px;
}
.inactive{
    background-color: grey;
}
.add__to{
    display: flex;
    align-items: center;
    justify-content: end;
}
.heart__img{
    width: 19px;
    height: 16px;
    cursor: pointer;
}
.not__price{
    position: relative;
}
.line{
    width: 80%;
    height: .8px;
    background-color: #a7a7a7;
    position: absolute;
    top: 50%;
    left: 0;
}
.in__stock__yep{
    color: #28ac81;
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}
.in__stock__nop{
    color: #939393;
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}

.amount{
    display: flex;
    align-items: center;
    gap: 15px;
}
.minus, .plus, .amount__in{
    display: flex;
    align-items: center;
    justify-content: center;
}
.minus > img, .plus > img{
    width: 14px;
}
.amount__in > p{
    margin: 0;
    font-size: 16px;
}


@media (max-width: 600px){
    .img__link{
        height: 70px;
    }
    .in__dop{
        padding: 5px 0;
        width: 90%;
        gap: 5px;
    }
    .title{
        font-size: 11px;
    }
    .stars > img{
        width: 7px;
        height: 7px;
    }
    .review__link{
        font-size: 8px;
        border-bottom: dotted 1px #28ac81;
    }
    .price{
        font-size: 10px;
    }
    .price__dop{
        font-size: 13px;
    }
    .title__link > h4{
        max-height: 26px;
    }
    .buy{
        padding: 3px 10px;
        font-size: 10px;
    }
    .heart__img{
        width: 16px;
        height: 13px;
    }
    .in__stock__yep, .in__stock__nop{
        font-size: 8px;
    }


    .amount{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .minus > img, .plus > img{
        width: 10px;
    }
    .amount__in > p{
        margin: 0;
        font-size: 15px;
    }
}