.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wrap__list{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 0 0 8px 0;
}
.wrap__list__in{
    display: grid;
    gap: 10px;
}
.in{
    min-width: 180px;
    max-width: 180px;
    display: block;
    height: 100%;
}
.title{
    margin: 0;
    margin-top: 35px;
    padding-left: 10px;
}

@media (max-width: 600px){
    .wrap__list{
        gap: 10px;
    }
    .wrap__list__in{
        display: grid;
        /*grid-template-rows: 1fr 1fr;*/
        gap: 10px;
    }
    .in{
        min-width: 135px;
        max-width: 135px;
    }
}