.wrap__list{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding: 0 0 8px 0;
}
.wrap__list__in{
    display: grid;
    gap: 10px;
}
.in{
    display: block;
    max-width: 100%;
    height: 100%;
}

@media (max-width: 600px){
    .wrap__list{
        gap: 10px;
    }
    .wrap__list__in{
        display: grid;
        gap: 10px;
    }
}