.wrap{
    width: 100%;
    background: #e7c3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.inner{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.inner__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.logo{
    cursor: pointer;
    display: flex;
    align-self: center;
}
.logo__image{
    width: 150px;
}
.phone__wrap{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
}
.phone__wrap > a{
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}
.city__full, .phone__full{
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 155%;
    box-sizing: border-box;
    background-color: var(--light-purple-color);
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}
.phone__full > a, .city__full > a{
    color: #000000;
    white-space: nowrap;
}
.arrow{
    width: 12px;
    cursor: pointer;
    transition: all .3s;
}
.arrow__change{
    transform: rotate(180deg);
}
.city__title{
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}
.inner__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.delivery__link > a{
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
}
.delivery__link{
    margin: 0;
}
.lang{
    margin: 0;
    cursor: pointer;
}
.lang__wrap{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}
.lang__line{
    width: 1.5px;
    height: 20px;
    background-color: #9134b3;
    display: flex;
    align-self: center;
}
.lang__dop{
    color: #9134b3;
    font-weight: 600;
}

.burger__menu{
    display: none;
    align-items: center;
    justify-content: center;
}
.burger__wrap{
    display: flex;
    align-items: center;
}
.burger{
    position: relative;
    height: 20px;
    width: 25px;
}
.span{
    position: absolute;
    left: 0;
    height: 2.1px;
    width: 100%;
    background-color: #9134b3;
    display: block;
    transition: all .3s;
}
.b2, .b3{
    top: 50%;
    transform: translateY(-50%);
}
.b4{
    bottom: 0;
}
.burger.active .b1,.burger.active .b4{
    opacity: 0;
}
.burger.active .b2{
    transform: translateY(-50%) rotate(45deg);
}
.burger.active .b3{
    transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 600px){
    .burger__menu{
        display: flex;
    }
    .phone__wrap{
        display: none;
    }
    .inner__right{
        display: none;
    }
    .inner{
        width: 90%;
    }
    .wrap{
        padding: 15px 0;
    }
}