.page{
    width: 40%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
@media screen and (max-width: 600px){
    .page{
        width: 90%;
    }
}
.wrap{
    width: 100%;
    padding: 30px 0;
    border-radius: 20px;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.inp__div{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.inp__div > label{
    font-weight: 600;
}
.inp__div > input{
    padding: 15px;
    border-radius: 10px;
    border: solid 2px #c368e6;
}
.inp__div > button{
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: #c368e6;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}
.number{
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-left: 6px;
}
.title{
    margin-top: 0;
    text-align: center;
}
.inp__capcha{
    display: flex;
    align-items: center;
}
.restore{
    text-align: center;
}


.input__eye__wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    overflow: hidden;
    border: solid 2px #c368e6;
    background-color: #ffffff;
}
.input__eye{
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.input__eye > img{
    width: 16px;
}
.input__eye__wrap > input{
    width: 100%;
    padding: 10px 0;
    border: none;
}