.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-purple-color);
    box-sizing: border-box;
    padding: 80px 0;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.inp__div{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.inp__div > label{
    font-weight: 600;
}
.inp__div > input{
    padding: 15px;
    border-radius: 10px;
    border: solid 2px #c368e6;
}
.number{
    border-radius: 10px;
    padding: 15px;
    border: solid 2px #c368e6;
    margin-left: 6px;
}
.title{
    margin-top: 0;
    text-align: center;
}
.inp__capcha{
    display: flex;
    align-items: center;
}
.restore{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.restore > div > p{
    margin: 0;
    padding-bottom: 20px;
}

.inp__capcha__input__err input{
    border: solid 2px #ff0000; 
}
.inp__div__inp__err{
    padding: 10px;
    border-radius: 20px;
    border: solid 2px #ff0000;
}
.too:hover{
    cursor: pointer;
    color: var(--purple-color);
}
.form__wrap__restore{
    min-width: 40%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #000;
}
.title__restore{
    color: #000;
    text-align: center;
    margin: 0;
}
.fail{
    color: #ff0000;
}


.input__eye__wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: solid 2px #c368e6;
    background-color: #ffffff;
    padding: 5px 10px;
    overflow: hidden;
}
.input__eye{
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.input__eye > img{
    width: 16px;
}
.input__eye__wrap > input{
    width: 100%;
    padding: 10px 0;
    border: none;
}


.login__wrap{
    width: 40%;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px 0;
}
.inner{
    width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inner__in{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form__inner{
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 600px){
    .restore, .login__wrap, .form__wrap__restore{
        width: 90%;
    }
}